<a href="https://colab.research.google.com/github/Haneesh-Dabbadi/Python-Basic-Codes/blob/main/Python_Practice_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("Enter the number: "))
flag = False
for i in range(2, num):
  if (num % i) == 0:
    flag = True
    break
if flag:
  print(num,"is not a prime number")
else:
  print(num,"is a prime number")

Enter the number: 23
23 is a prime number

In [ ]:
num = int(input("Enter the number: "))
temp = num
reverse = 0
while temp > 0:
  remainder = temp % 10
  reverse = (reverse * 10) + remainder
  temp = temp // 10
if num == reverse:
  print("It is Palindrome")
else:
  print("It is not a Palindrome")

Enter the number: 345
It is not a Palindrome

In [ ]:
num = int(input("Enter the number: "))
temp = num
sum = 0
while temp > 0:
  digit = temp % 10
  sum += digit ** 3
  temp = temp//10
if num == sum:
  print("It is a armstrong number")
else:
  print("It is not a armstrong number")

Enter the number: 2
It is not a armstrong number

In [ ]:
def check(s1,s2):
  if(sorted(s1)==sorted(s2)):
    print("It is Anagram")
  else:
    print("It is not an Anagram")
s1 = input("Enter the first string: ")
s2 = input("Enter the second string: ")
check(s1,s2)

Enter the first string: listen
Enter the second string: silent
It is Anagram

In [ ]:
base = int(input("Enter the base of the triangle: "))
height = int(input("Enter the height of the triangle: "))
area = 0.5 * base * height
print(f"Area of the triangle: {area}")

Enter the base of the triangle: 2
Enter the height of the triangle: 2
Area of the triangle: 2.0

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
temp = a
a = b
b = temp
print(f"The swapped values are: a={a} b={b}")

Enter the first number: 2
Enter the second number: 3
The swapped values are: a=3 b=2

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
temp = a
a = c
d = temp
print(f"The swapped values are: a={a} b={b} c={d}")

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
The swapped values are: a=3 b=2 c=1

In [ ]:
import random
print(f"Random number: {random.randint(1,100)}")

Random number: 23

In [ ]:
kilometers = int(input("Enter the kilometers: "))
conversion_factor = 0.621371
conversion = kilometers * conversion_factor
print(f"the miles: {conversion} miles")

Enter the kilometers: 2
the miles: 1.242742 miles

In [ ]:
import calendar

year = int(input("Enter the year: "))
month = int(input("Enter the month: "))
cal = calendar.month(year, month)
print(cal)

Enter the year: 2005
Enter the month: 5
      May 2005
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

//Python Program for finding roots of a Quadratic Equation

In [ ]:
import math
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))
discriminant = b ** 2 - 4*a*c
if discriminant > 0:
  root1 = (-b + math.sqrt(discriminant)) / (2*a)
  root2 = (-b - math.sqrt(discriminant)) / (2*a)
  print(f"First root: {root1}")
  print(f"Second root: {root2}")
elif discriminant == 0:
  root = -b / (2*a)
  print(f"Root: {root}")
else:
  real_part = -b / (2*a)
  img_part = math.sqrt(abs(discriminant)) / (2*a)
  print(f"First root: {real_part} + {img_part}i")
  print(f"Second root: {real_part} - {img_part}i")

Enter coefficient a: 1
Enter coefficient b: 4
Enter coefficient c: 8
First root: -2.0 + 2.0i
Second root: -2.0 - 2.0i

//Swapping of variables without temp

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
a,b = b,a
print(f"The swapped values: a={a} b={b}")

Enter the first number: 1
Enter the second number: 2
The swapped values: a=2 b=1

In [ ]:
num = int(input("Enter the number: "))
if num > 0:
  print("The numnber is positive")
elif num == 0:
  print("The number is zero")
else:
  print("The number is negative")

Enter the number: 2
The numnber is positive

In [ ]:
num = int(input("Enter the number: "))
if num % 2 == 0:
  print("It is a even number")
else:
  print("It is a odd number")

Enter the number: 1
It is a odd number

In [ ]:
year = int(input("Enter a year: "))
if (year % 400 == 0) and (year % 100 == 0):
  print("{0} is a leap year".format(year))
elif (year % 4 == 0) and (year % 100 != 0):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year: 2004
2004 is a leap year

In [ ]:
lower = 1
upper = 10
print("The prime numbers from",lower,"to",upper,"are: ")
for num in range(lower, upper + 1):
  if num > 1:
    is_prime = True
    for i in range(2, num):
      if (num % i) == 0:
        is_prime = False
        break
    if is_prime:
        print(num)

The prime numbers from 1 to 10 are:
2
3
5
7

In [ ]:
num = int(input("Enter the number: "))
factorial = 1
if num < 0:
  print("Factorial is not applicable!")
elif num == 0:
  print("Factorial for {0} is 1".format(num))
else:
  for i in range(1, num+1):
    factorial = factorial * i
  print(f"Factorial for {num} is {factorial}")

Enter the number: 4
Factorial for 4 is 24

In [ ]:
num = int(input("Display multiplication table of: "))
for i in range(1, 11):
  print(f"{num} x {i} = {num*i}")

Display multiplication table of: 97
97 x 1 = 97
97 x 2 = 194
97 x 3 = 291
97 x 4 = 388
97 x 5 = 485
97 x 6 = 582
97 x 7 = 679
97 x 8 = 776
97 x 9 = 873
97 x 10 = 970

In [ ]:
nterms = int(input("Enter the no of terms: "))
n1,n2 = 0,1
count = 0
if nterms < 0:
  print("Please enter the positive integer!")
elif nterms == 1:
  print("Fibonacci sequence: ")
  print(n1)
else:
  print("Fibonacci sequence is: ")
  while count < nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count =  count + 1

Enter the no of terms: 10
Fibonacci sequence is:
0
1
1
2
3
5
8
13
21
34

In [ ]:
num = int(input("Enter the number: "))
sum = 0
temp = num
while temp > 0:
  digits = temp % 10
  sum += digits ** 3
  temp = temp // 10
if sum == num:
  print("The given number is Armstrong number")
else:
  print("It is not a Armstrong number!")

Enter the number: 153
The given number is Armstrong number

In [ ]:
lower = int(input("Enter the lower limit:"))
upper = int(input("Enter the upper limit: "))
for num in range(lower, upper + 1):
  temp = num
  sum = 0
  while temp > 0:
    digits = temp % 10
    sum += digits ** 3
    temp = temp // 10
  if sum ==  num:
    print(num)

Enter the lower limit:10
Enter the upper limit: 10000
153
370
371
407

In [ ]:
limit = int(input("Enter the limit: "))
sum = 0
for i in range(1, limit+1):
  sum = sum + i
print("The sum of natural numbers are: {0}".format(sum))

Enter the limit: 10
The sum of natural numbers are: 55

In [ ]:
def find_lcm(x, y):
  if x > y:
    greater = x
  else:
    greater = y
  while(True):
    if (greater % x == 0) and (greater % y == 0):
      lcm =  greater
      break
    greater += 1
  return lcm

num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
print("The LCM is:",find_lcm(num1,num2))

Enter the first integer: 54
Enter the second integer: 24
The LCM is: 216

In [ ]:
def find_hcf(x, y):
  if x < y:
    smaller = x
  else:
    smaller = y
  for i in range(1, smaller + 1):
    if (x % i == 0) and (y % i == 0):
      hcf = i
  return hcf
num1 = int(input('Enter the number: '))
num2 = int(input('Enter the number: '))
print("The HCF is: ",find_hcf(num1, num2))

Enter the number: 9
Enter the number: 7
The HCF is:  1

In [ ]:
char = str(input("Enter the character: "))
print("The ASCII value for given character",char,"is",ord(char))

Enter the character: p
The ASCII value for given character p is 112

In [ ]:
def add(x, y):
  return x + y
def sub(x, y):
  return x - y
def mul(x, y):
  return x * y
def div(x, y):
  if y!= 0:
    return x / y
  else:
    print("Cannot Divide by zero!")

print("Select Operation==>")
print("1.Addition")
print("2.Subtraction")
print("Multiplication")
print("4.Division")

while(True):
  choice = input("Enter your choice (1/2/3/4): ")
  if choice in ('1','2','3','4'):
    try:
      num1 = int(input("Enter the first number: "))
      num2 = int(input("Enter the second number: "))
    except ValueError:
      print("Invalid input. Please enter the number!")
    if choice == '1':
      print(num1,"+",num2,"=",add(num1, num2))
    elif choice == '2':
      print(num1,"-",num2,"=",sub(num1, num2))
    elif choice == '3':
      print(num1,"*",num2,"=",mul(num1, num2))
    elif choice == '4':
      print(num1,"/",num2,"=",div(num1, num2))
    next_calculation = input("Let's try another one ? (yes/no): ")
    if next_calculation == "no":
      print("Bye!")
      break
  else:
    print("Invalid input")

Select Operation==>
1.Addition
2.Subtraction
Multiplication
4.Division
Enter your choice (1/2/3/4): 1
Enter the first number: 34
Enter the second number: 567
34 + 567 = 601
Let's try another one ? (yes/no): no
Bye!

In [ ]:
def recur_fi(n):
  if n <= 1:
    return n
  else:
    return (recur_fi(n-1) + recur_fi(n-2))

nterms = int(input("Enter the no of terms: "))
if nterms <= 0:
  print("Please enter positive integer!")
else:
  print("Fibonacci Sequence:")
  for i in range(nterms):
    print(recur_fi(i))

Enter the no of terms: 5
Fibonacci Sequence:
0
1
1
2
3

In [ ]:
def recur_facto(n):
  if n == 1:
    return n
  else:
    return n*recur_facto(n-1)
num = int(input("Enter the number: "))
if num < 0:
  print("Sorry, factotial does not exist for negative numbers!")
elif num == 0:
  print("The factorial for 0 is 1")
else:
  print("The factorial for",num,"is",recur_facto(num))

Enter the number: 7
The factorial for 7 is 5040

In [ ]:
def bodymassindex(height, weight):
  return round((weight/height ** 2),2)
h = float(input("Enter the height in meters: "))
w = float(input("Enter the weight in kg: "))

print("Hello, Welcome to BMI Calculator...")
bmi = bodymassindex(h, w)
print("Your BMI is",bmi)

if  bmi <= 18.5:
  print("Your underweight.")
elif 18.5 < bmi <= 24.9:
  print("Your weight is normal.")
elif 25 < bmi <= 29.9:
  print("Your overweight!")
else:
  print("Your obese!")

Enter the height in meters: 1.58
Enter the weight in kg: 48.3
Hello, Welcome to BMI Calculator...
Your BMI is 19.35
Your weight is normal.

In [ ]:
import math
num =  float(input("Enter a number: "))
if num <= 0:
  print("Please enter a positive integer!")
else:
  result = math.log(num)
  print(f"The natural logarithm of {num} is {result}")

Enter a number: 1.4
The natural logarithm of 1.4 is 0.3364722366212129

In [ ]:
def cube_sumof_natural(n):
  if n <= 0:
    return 0
  else:
    total = sum([i ** 3 for i in range(1, n+1)])
    return total
num = int(input("Enter the number: "))
if num <= 0:
  print("Please enter a positive integer!")
else:
  print(f"The cube sum of first {num} natural numbers is {cube_sumof_natural(num)}")

Enter the number: 7
The cube sum of first 7 natural numbers is 784

In [ ]:
#Finding sum of array using sum()
arr = [1,2,3,4,5]
ans = sum(arr)
print("The sum of elements in array is",ans)

The sum of elements in array is 15

In [ ]:
#Function to find sum of array
def sum_of_array(arr):
  total = 0
  for element in arr:
    total = total + element
  return total
array = [1,2,3,4,5]
result = sum_of_array(array)
print("The sum of elements in an array is",result)

The sum of elements in an array is 15

In [ ]:
#Finding the largest element in array
def largest_element(arr):
  if not arr:
    return "Array is empty"
  largest_ele = arr[0]
  for element in arr:
    if element > largest_ele:
      largest_ele = element
  return largest_ele
array = [1,2,3,4,7]
result = largest_element(array)
print("The largest element in array is",result)

The largest element in array is 7

In [ ]:
#Python Program for array rotation
def rotate_array(arr, d):
  n = len(arr)
  if d < 0 or d >= n:
    return "Invalid rotation value!"
  rotated_array = [0] * n
  for i in range(n):
    rotated_array[i] = arr[(i+d) % n]
  return rotated_array
array = [1,2,3,4,5]
d = 3
result = rotate_array(array, d)
print("The original array is: ",array)
print("The rotated array is: ",result)

The original array is:  [1, 2, 3, 4, 5]
The rotated array is:  [4, 5, 1, 2, 3]

In [ ]:
#Python program to split the array and add the first part to the end
def split_and_add(arr, k):
  if k <= 0 or k >= len(arr):
    return arr
  first_part = arr[:k]
  second_part = arr[k:]
  result = second_part + first_part
  return result
array = [23,45,67,89,91]
k = 3
print("The original array: ",array)
print("The split and add array: ",split_and_add(array, k))

The original array:  [23, 45, 67, 89, 91]
The split and add array:  [89, 91, 23, 45, 67]

In [ ]:
#Python program to check the array is monotonic
def monotonic(arr):
  increasing =  decreasing = True
  for i in range(1, len(arr)):
    if arr[i] > arr[i - 1]:
      decreasing = False
    else:
      increasing  = False
  return increasing or decreasing
array1 = [1,2,3,4,5]
array2 = [5,4,3,2,1]
array3 = [1,3,2,4]
print("Array1 is monotonic: ",monotonic(array1))
print("Array2 is monotonic: ",monotonic(array2))
print("Array3 is monotonic: ",monotonic(array3))

Array1 is monotonic:  True
Array2 is monotonic:  True
Array3 is monotonic:  False

In [12]:
#Python program for addition of two matrices
def add_matrices(mat1, mat2):
  if len(mat1) != len(mat2) or len(mat1[0]) != len(mat2[0]):
    return "Matrix must contain equal dimensions!"
  result = []
  for i in range(len(mat1)):
    row = []
    for j in range(len(mat1[0])):
      row.append(mat1[i][j] + mat2[i][j])
    result.append(row)
  return result
matrix1 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
matrix2 = [
    [9,8,7],
    [6,5,4],
    [3,2,1]
]
result_matrix = add_matrices(matrix1, matrix2)
if isinstance(result_matrix, str):
  print(result_matrix)
else:
  print("The sum of the matrices: ")
  for row in result_matrix:
    print(row)

The sum of the matrices:
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [14]:
#Python program for multiplication of two matrices
def multiply_matrices(mat1, mat2):
  rows1 = len(mat1)
  cols1 = len(mat1[0])
  rows2 = len(mat2)
  cols2 = len(mat2[0])
  if cols1 != rows2:
    return "Matrix Multiplication is not possible!"
  result = [[0 for _ in range(cols2)] for _ in range(rows1)]
  for i in range(rows1):
    for j in range(cols2):
      for k in range(cols1):
        result[i][j] += mat1[i][k] * mat2[k][j]
  return result
matrix1 = [
    [1,2,3],
    [4,5,6]
]
matrix2 = [
    [7,8],
    [9,10],
    [11,12]
]
result_matrix = multiply_matrices(matrix1, matrix2)
if isinstance(result_matrix, str):
  print(result_matrix)
else:
  print("Multiplication of two matrices is: ")
  for row in result_matrix:
    print(row)

Multiplication of two matrices is:
[58, 64]
[139, 154]

In [16]:
#Program for tranpose of matrix
def transpose_matrix(mat):
  rows = len(mat)
  cols = len(mat[0])
  result = [[0 for _ in range (rows)] for _ in range(cols)]
  for i in range(rows):
    for j in range(cols):
      result[j][i] = mat[i][j]
  return result
matrix = [
    [1,2,3],
    [4,5,6]
]
transposed_matrix = transpose_matrix(matrix)
print("The tranposed matrix is: ")
for row in transposed_matrix:
  print(row)

The tranposed matrix is:
[1, 4]
[2, 5]
[3, 6]